<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
<head style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
<meta name="viewport" content="width=device-width" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
<title style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>Radar.Mtc</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage" style='background-color:#ebebeb; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; height:100%; line-height:1.2em; margin:0; width:100%' bgcolor="#ebebeb" height="100%" width="100%">
<style style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>@media only screen and (max-width: 640px) {
    body {
        padding: 0 !important
        }
    h1, h2, h3, h4 {
        font-weight: 800 !important;
        margin: 20px 0 5px !important
        }
    h1 {
        font-size: 22px !important
        }
    h2 {
        font-size: 18px !important
        }
    h3 {
        font-size: 16px !important
        }
    .container {
        width: 100% !important
        }
    .content-wrap {
        padding: 10px !important
        }
    .ad-groups {
        width: 100% !important
        }
    }</style>

<table class="body-wrap" style='background-color:#ebebeb; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; width:100%' bgcolor="#ebebeb" width="100%">
    <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
        <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; vertical-align:top' valign="top"></td>
        <td class="container" style='box-sizing:border-box; clear:both; display:block; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0 auto; min-width:600px; padding:70px; vertical-align:top' valign="top">
            <div class="content" style='box-sizing:border-box; display:block; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0 auto; min-width:600px'>
                <table class="main" width="100%" cellpadding="0" cellspacing="0" style='background-color:#fff; border:1px solid #e9e9e9; border-radius:3px; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0' bgcolor="#fff">
                    <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                        <td class="content-wrap aligncenter" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:20px; text-align:center; vertical-align:top' align="center" valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                    <td class="content-block header" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; margin-bottom:20px; padding:50px 0; vertical-align:top; width:100%' valign="top" width="100%">
                                        <img src="{{ static_url }}img/logo.png" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; max-width:100%'>
                                        <h1 class="aligncenter" style='box-sizing:border-box; color:#000; font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size:30px; font-weight:500; line-height:1.2em; margin:0; text-align:center; margin-top: 20px' align="center">Radar.Mtc</h1>
                                    </td>
                                </tr>
                                <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                    <td class="content-block" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:0 0 20px; vertical-align:top' valign="top">
                                        <p class="aligncenter" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; font-weight:normal; margin:0 auto; margin-bottom:10px; text-align:center; width:70%' align="center" width="70%">Olá, esse é seu relatório de atenção para os grupos de anúncios de Market the Category - <strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>Coca Cola</strong></p>
                                    </td>
                                </tr>
                                <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                    <td class="content-block aligncenter" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:0 0 20px; text-align:center; vertical-align:top' align="center" valign="top">
                                        {% if warning_adgroups %}
                                        <table class="ad-groups" style='border-collapse:collapse; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:40px auto; text-align:left; width:100%' align="left" width="100%">
                                            <tr class="ad-group-header" style='background-color:#000; box-sizing:border-box; color:#FFF; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0' bgcolor="#000">
                                                <th style='border-radius:2px 0 0 2px; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding-bottom:10px; padding-left:20px; padding-right:20px; padding-top:10px; vertical-align:top' valign="top">Ad Group</th>
                                                <th class="alignright" style='border-radius:0 2px 2px 0; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding-bottom:10px; padding-left:20px; padding-right:20px; padding-top:10px; text-align:right; vertical-align:top' align="right" valign="top">Prioridade<img src="{{ static_url }}img/alerta1.png" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; margin-left:10px; margin-top:2px; max-width:100%'></th>
                                            </tr>
                                            {% for adgroup in warning_adgroups %}
                                            <tr class="ad-group-item-header" style='border-bottom:1px solid #d9d9d9; border-top:1px solid #d9d9d9; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <th colspan="2" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding-bottom:10px; padding-left:20px; padding-right:20px; padding-top:10px; vertical-align:top' valign="top">{{ adgroup.name }}</th>
                                            </tr>
                                            <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; font-weight:200; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; vertical-align:top' valign="top">Nº estimado de buscas hoje</td>
                                                <td class="alignright" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; text-align:right; vertical-align:top' align="right" valign="top"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>{{ adgroup.today_searches }}</strong></td>
                                            </tr>
                                            <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; font-weight:200; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; vertical-align:top' valign="top">Nº médio de buscas nos últimos 7 dias</td>
                                                <td class="alignright" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; text-align:right; vertical-align:top' align="right" valign="top"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>{{ adgroup.last_7_days_average }}</strong></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                        {% endif %}
                                        {% if attention_adgroups %}
                                        <table class="ad-groups" style='border-collapse:collapse; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:40px auto; text-align:left; width:100%' align="left" width="100%">
                                            <tr class="ad-group-header" style='background-color:#000; box-sizing:border-box; color:#FFF; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0' bgcolor="#000">
                                                <th style='border-radius:2px 0 0 2px; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding-bottom:10px; padding-left:20px; padding-right:20px; padding-top:10px; vertical-align:top' valign="top">Ad Group</th>
                                                <th class="alignright" style='border-radius:0 2px 2px 0; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding-bottom:10px; padding-left:20px; padding-right:20px; padding-top:10px; text-align:right; vertical-align:top' align="right" valign="top">Atenção<img src="{{ static_url }}img/alerta2.png" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; margin-left:10px; margin-top:2px; max-width:100%'></th>
                                            </tr>
                                            {% for adgroup in attention_adgroups %}
                                            <tr class="ad-group-item-header" style='border-bottom:1px solid #d9d9d9; border-top:1px solid #d9d9d9; box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <th colspan="2" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding-bottom:10px; padding-left:20px; padding-right:20px; padding-top:10px; vertical-align:top' valign="top">{{ adgroup.name }}</th>
                                            </tr>
                                            <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; font-weight:200; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; vertical-align:top' valign="top">Nº estimado de buscas hoje</td>
                                                <td class="alignright" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; text-align:right; vertical-align:top' align="right" valign="top"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>{{ adgroup.today_searches }}</strong></td>
                                            </tr>
                                            <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; font-weight:200; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; vertical-align:top' valign="top">Nº médio de buscas nos últimos 7 dias</td>
                                                <td class="alignright" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; text-align:right; vertical-align:top' align="right" valign="top"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>{{ adgroup.last_7_days_average }}</strong></td>
                                            </tr>
                                            <tr style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                                <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; font-weight:200; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; vertical-align:top' valign="top">Nº médio de buscas nos últimos 90 dias</td>
                                                <td class="alignright" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; padding:5px 0; padding-left:20px; padding-right:20px; text-align:right; vertical-align:top' align="right" valign="top"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>{{ adgroup.last_90_days_average }}</strong></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="footer" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                    <td class="content-block alignleft" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; margin:0; padding:0; text-align:left; vertical-align:top' align="left" valign="top">
                                        <img src="{{ static_url }}img/alerta1.png" alt="" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; height:12px; margin:0; margin-right:5px; max-width:100%' height="12"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; margin:0; padding:0'>Prioridade:</strong> As buscas estimadas para hoje relativas ao Ad Group estão 20% acima da média dos últimos 7 dias.
                                    </td>
                                </tr>
                                <tr class="footer" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0'>
                                    <td class="content-block alignleft" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; margin:0; padding:0; text-align:left; vertical-align:top' align="left" valign="top">
                                        <img src="{{ static_url }}img/alerta2.png" alt="" style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; height:12px; margin:0; margin-right:5px; max-width:100%' height="12"><strong style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; margin:0; padding:0'>Atenção:</strong> As buscas estimadas para hoje relativas ao Ad Group ultrapassam a média dos últimos 90 dias, porém estão inferiores a média dos últimos 7 dias.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
        </div></td>
        <td style='box-sizing:border-box; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px; margin:0; vertical-align:top' valign="top"></td>
    </tr>
</table>

</body>
</html>
